@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: row; /* Cambio la dirección a columna */
    align-items: center; /* Alineo los elementos al centro verticalmente */
    justify-content: space-between; /* Espacio entre los elementos */    
    img {
      margin: 10px;
      width: 150px;
      margin-top: -5px;
    }
nav{
  display: none;
}
    .navbar1 {
      width: 180px; /* Ajusto el ancho para ocupar todo el contenedor */
      margin-top: -8px; /* Ajusto el margen superior */
      margin-left:-100px ;
    }

    /*menu*/
    .menuheader {
      display: flex;
      align-items: center; /* Alineo los elementos al inicio */
      justify-content: flex-end; /* Espacio entre .navbar y .menuheader */
      width: 100%; /* Ajusto el ancho para ocupar todo el contenedor */
      margin-top: -76px; /* Ajusto el margen superior */
      margin-left: 25px;
      .navbar {
        margin-top: 30px; /* Ajusto el margen superior */

        .container-fluid {
          width: 100%; /* Ajusto el ancho para ocupar todo el contenedor */
        }
      }
    }
  }



  .contenedor {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    h1 {
      font-size: 35px !important;
      margin-left:440px !important;

    }
  }


/*pag extras*/
.pagextras{
  display: flex;
  align-items: center;
  justify-content: flex-end;
h1{
  font-size: 35px !important;
  margin-left:140px !important;
}
}
/*pag la ciudad*/
.pagciudad{

  h1{
 display: none;
  }
}



  /*MAIN*/
  main {
    .img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .imgprincipal {
      height: 200px;
      width: 100%;
    }

    .grid-container {
      /*modificaciones pagina que visitar*/
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .grid-item {
      margin-bottom: 20px;
    }

    .parrafodatosUtiles {
      font-size: 15px;
    }

    /*modificaciones pagquehacer*/

    h4 {
      font-size: 18px;

    }

    .texto-superpuesto p {
      font-size: 10px;
      margin-top: 1px !important;
    }



    /*datos  utiles*/
    .secciondatosutiles {
      .grid-container2 {
        flex-direction: column; // Cambia la dirección del flujo de elementos a columna
        align-items: flex-start; // Alinea los elementos a la izquierda
      }

      .grid-item2 {
        width: 100%; // Ocupa todo el ancho disponible
        margin-right: 0; // Elimina el margen derecho
        margin-bottom: 20px; // Espacio entre los elementos


      }

    }
    /*pag identidad cordobesa*/
  .textodeidentidadcordobesa{

  .imgcañada{
  display: none;
  
  }
  .imgextra1{
    width: 300px!important;
    height: 300px!important;
  }
  .imgextra2{
    width: 370px !important;
    height: 300px !important;
  }
}


}

/*PAG EXTRA*/
.detallesquehacer{
  h1{
    margin-top:180px !important;
    font-size: 30px !important;
    margin-left:125px !important;
  }
}




  /*PAGQUEHACER*/
  .pagquehacer {
  
    .navbarbuscador2 {
      display: none;
    }

    .tam_primerimg {
      height: 200px;
      width: 100%;
    }

    h1 {

      font-size: 50px;
      margin-left:130px !important;
    }
  }

  /*modificaciones pagquevisitar*/

  .tituloquevisitar {

    h1 {
      font-size: 50px !important;
      margin-left:-20px !important;
      margin-top: 190px !important;   
     }
  }

  h3 {
    font-size: 18px;

  }

  .buscadorpagquevisitar {
    margin-left: -380px;

  }

  /*modificaciones pageventos*/

  .tituloeventos {

    h1 {
      font-size: 50px !important;
      margin-left:155px !important;
      margin-top: 200px !important;
    }

    h3 {
      font-size: 18px;

    }

  }

  .buscadorpageventos {
    margin-left: -380px;

  }

  /*modificaciones pagdatosutiles*/
  .titulodatosutiles {

    h1 {
      font-size: 50px !important;
      margin-left:-45px !important; 
      margin-top: 200px !important;  
     }

  }




  footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    .imgfooter {
      width: 40px;
      height: 60px;
      margin-right: 20px;
      /* Espacio a la derecha del logo */
    }

    .footer-inner {
      margin-left: 300px;
      margin-top: -70px;
      font-size: 10px;


      .contact-info1 {
        margin-left:-60px !important;
        margin-top: 105px !important;
      }

      .tituloenfooter {
        display: none;
      }

      .contact-item {
        margin-left: 1px;
        /* Espacio entre iconos */
      }

    }


    .footer-inner2 {
      display: none;
    }

    .copyright {
      display: none;
    }

  }
}