.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    margin-top:150px;
    background-color: #c5f0d4;
    height: 140px;
    color: black;
    width: 100%;


    .imgfooter {
        width: 80px;
        height: 80px;
        margin-left: 20px;
    }


    .footer-inner {
        flex-grow: 1;
        /*el contenido se expande para llenar el espacio disponible*/
        font-size: 10px;
        margin-left: 150px;

        .contact-info1 {
            margin-left: 50px;
            margin-bottom:15px;
            

            .tituloenfooter {
                font-size: 18px;
            }

            .contact-item {
                margin-right: 25px;
                margin-top: -10px;
                width: 35px;
            }

        }

    }


    .footer-inner2 {
        margin-left: 450px;
        margin-top: -90px;
        .contact-info {
            @extend .contact-info1;

        }
    }





    .redes {
        display: flex;
        align-items: center;

        .icono-wsp {
            width: 50px;
            position: fixed;
            right: 25px;
            bottom: 50px;
        }
    }


}