$colordelheader:linear-gradient(90deg, rgba(218,248,0,1) 22%, rgba(165,239,57,0.8155637254901961) 49%);
$colorletradelheader:#3e9219;


header {
  background: $colordelheader;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  img {
    width: 200px;
  }
  nav {
    margin-top: 5px;
    margin-right: 120px;
    ul {
      display: flex;
      list-style-type: none;
      li {
        a {
          margin: 10px;
          font-weight: 500;
          color: $colorletradelheader;
          text-decoration: none;
          transition: 1s;
          &:hover {
            color: black;
            margin: 20px;
          }
        }
      }
    }
  }
  

  .navbar1 {/*buscador*/
    width: 180px; /* Ajusto el ancho para ocupar todo el contenedor */
    margin-top: 2px; /* Ajusto el margen superior */
    margin-left:-100px ;
  }
  
    /*menu*/
    .menuheader {
      display: flex;
      align-items: center; /* Alineo los elementos al inicio */
      justify-content: flex-end; /* Espacio entre .navbar y .menuheader */
      width: 100%; /* Ajusto el ancho para ocupar todo el contenedor */
      margin-top: -62px; /* Ajusto el margen superior */
      margin-left: 25px;

      .navbar {
        margin-top: 15px; /* Ajusto el margen superior */

        .container-fluid {
          width: 100%; /* Ajusto el ancho para ocupar todo el contenedor */
        }
      }
    }
}