@mixin mainengeneral{
  font-family: "Ubuntu";
  color: black;
  margin-top: -210px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;

}

@mixin titulodecuadros{
font-size: 30px;
font-weight: bold;
margin-top: 5px;
margin-top: 45px;
text-align: center;
font-style: "Ubuntu";
}


@mixin formularioen-general{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-bottom: 65px;
  margin-top: 100px;
  margin-right: 0;
  margin-left: 0;

}

@mixin parrafode-datosutiles{
  font-size: 30px;
  font-family: "Ubuntu", Sans-serif;
  margin-top: 250px;
  margin-left: 60px;
  color: black;
  font-weight: 1000;
  line-height: 70px;
}



@mixin iconoscon-infode-datosutiles{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: row;
  gap: 5px;
  margin-top: 300px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

@keyframes cambiarColor{
  0%{
    color:yellow;
  }
  50%{
    color:rgb(243, 201, 124);

  }
  100%{
    color:rgb(247, 226, 226);

  }
}


.main {
@include mainengeneral();

  .containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    @include titulodecuadros();

  }

  .img-container {
    display: flex;
    justify-content: center;
    gap: 60px;
  }

  .img-fuera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .img-container img {
    height: 300px;
    width: 350px;
    border-radius: 5px;
  }

  h2 {
    margin-top: 45px;
    text-align: center;
    font-style: "Ubuntu";
  }


  .containerformulario{
  @include formularioen-general();




  .imgformulario {
    height: 300px;
    width: 1350px;
  }


  .contentform {
    position: absolute;
    color: white;
    animation-name: cambiarColor;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 8s;
    .ordeform {
      font-family: "Libre Franklin";
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;

    }

    .form {
      margin-left: 80px;
}
}
}

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: row;
    gap: 5px;
    margin-top: 300px;
    margin-bottom: 70px;

  }

  .grid-item {
    position: relative;
    
    transition: transform 0.3s ease; /*"zoom en la imagen"*/
    &:hover{
      transform: scale(1.05);
    }
  }

  .imggrid {
    width: 100%;
    height: 250px;
    border-radius: 10px;
  }

  .texto-superpuesto {
    position: absolute;
    left: 10px;
    top: 70%;
    padding: 5px;
    color: white;
    font-weight: bold;

    .textodecards{
      font-size: 18px;
      margin-bottom: -2px;
    }

  }

  h4 {
    margin-bottom: 5px;
  }

  .texto-superpuesto p {
    margin-top: 5px;
  }

  .parrafodatosUtiles {
    @include parrafode-datosutiles();
  }

  .secciondatosutiles {
    margin-top: -200px;
    margin-left: 40px;

  }

  .img-datos-utiles {
    margin-right: 110px;
  }

  /*texto debajo de iconos de datosutiles*/
  .texto-datos-utiles {
    margin-left: -110px;
  }

  .grid-container2 {
    @include iconoscon-infode-datosutiles();
  }

  h3 {
    display: none;
  }

  .grid-item2 {
    text-align: center;
    &:hover{
      transform:rotate(12deg) translate(-40px,10px);
    }
  }

  .grid-item2 a {
    text-decoration: none;
  }

  .grid-item2 img {
    display: block;
    margin-bottom: 5px;
  }
/*pag identidad cordobesa*/
.textodeidentidadcordobesa{
  font-size: 16px;
  margin-bottom: 5px;
  margin:65px 65px;

.arribadelaimg{
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.imgextra1{
  margin-bottom: 18px;
  height: 450px;
   width: 100%;
}

.imgextra2{
  margin-bottom: 18px;
  height: 500px;
   width: 60%;
}

.subtitulo{
  font-size: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey; /* Color y grosor de la línea */

}
.parrafoitalic{
  font-style:italic;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
}


}