.pagquehacer {
    .pagquehacer{
        font-size: 60px;
        font-family: "Ubuntu", Sans-serif;
        font-weight: 1000;
        line-height: 50px;
        margin-left: 150px;
        background-color: transparent;
    }
    h1 {
        color: #fffffc;
        font-size: 60px;
        font-family: "Ubuntu", Sans-serif;
        font-weight: 1000;
        line-height: 50px;
        position: absolute;
        z-index: 1;
        margin-left: 480px;
        margin-top: 150px;
        background-color: transparent;
        padding: 10px;
      }
}

.margendelapagquehacer{
.parrafoquehacer {
    font-size: 14px;
    text-indent: auto;

}
}



.tam_primerimg {
    height: 450px;
    width: 100%;
}


.margendelapagquehacer {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*BUSCADOR*/
.navbarbuscador2 {
    margin-left: 450px;
    width: 400px;
}