 .tituloquevisitar {
     font-size: 60px;
     font-family: "Ubuntu", Sans-serif;
     font-weight: 1000;
     line-height: 70px;
     margin-left: 150px;
     background-color: transparent;
     color: black;

     h1 {
         font-size: 60px;
         font-family: "Ubuntu", Sans-serif;
         font-weight: 1000;
         line-height: 50px;
         position: absolute;
         z-index: 1;
         margin-left: 300px;
         margin-top: 150px;
         background-color: transparent;
         color: #fffffc;
         padding: 10px;
     }
 }


 h2 {
    margin-top: 50px;
    margin-left: 490px;
}
.buscadorpagquevisitar{
color:black;
}

 