.pagquehacer {
    .pagquehacer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 60px;
        font-weight: 1000;
        margin-left: 150px;
    }
    h1 {
        font-family: "Ubuntu", Sans-serif;

        color: #fffffc;
        font-size: 60px;
        font-weight: 1000;
        position: absolute;
        z-index: 1;
        margin-left: 480px;
        margin-top: 160px;
        background-color: transparent;
        padding: 10px;
      }
      .imgprincipal {
        height: 450px;
        width: 100%;
    }
    
}

.margendelapagquehacer{
.parrafoquehacer {
    font-size: 14px;
    text-indent: auto;

}
}


.margendelapagquehacer {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*BUSCADOR*/
.navbarbuscador2 {
    margin-left: 450px;
    width: 400px;
}