 @mixin detallesquevisitar-engeneral{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
     font-family: "Ubuntu", Sans-serif;
     margin-left: 150px;
     color: black;
 }
 
 .tituloquevisitar {
  @include detallesquevisitar-engeneral();

     h1 {
         font-size: 60px;
         font-weight: 1000;
         position: absolute;
         z-index: 1;
         margin-left: 320px;
         margin-top: 160px;
         background-color: transparent;
         color: #fffffc;
         padding: 10px;
     }
 }

 .imgprincipal {
    height: 450px;
    width: 100%;
}



 h2 {
    margin-top: 50px;
    margin-left: 490px;
}
.buscadorpagquevisitar{
color:black;
}

 