* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*para no tener scroll horizontal*/

  }
  
  
  body {
    font-size: 16px;
    font-family: Roboto Serif;
    color: black;
    background-color: #f5ffe2;
    margin: 0;
    overflow-x: hidden; /*para no tener scroll horizontal*/
    max-width: 100vw; /*para no tener scroll horizontal*/

  }